p{
    font-size: 14px;
    margin-left: 10px;
}
section{
    margin: 10px;
}
.block{
    border: 2px solid black;
    width: 20%;
}/*
.slider {
    z-index: 9;
    width: 400px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    margin-top: 20%;
    position: relative;
    }
    .slider ul,
    .slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    }
    .slider ul {
    width: 9999px; 
    }
    .slider ul li {
    list-style-type: none;
    float: left;
    width: 700px;
    height: 290px;
    }
    .slider .nav {
    position: absolute;
    left: 20%;
    bottom: 5px;
    }
    .slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin-left: 5px;
    width: 30px;
    height: 16px;
    border-radius: 1px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
    }
    .slider .nav span.on {
    background: #2e9419;
    }
li{
    list-style: none;
}*/
.section{
    margin: 0 auto;
    width: 60%;
}
.slider-container{
    width: 400px;
    height: 200px;
    border: 2px solid black;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 50px;
}
.slider-track{
    height: 200px;
    width: 2500px;
    display: flex;
    position: relative;
    transition: all 1s;
}
.style-bg{
    width: 400px;
    height: 200px;
}
.section2{
    position: relative;
    top: -55%;
    overflow: visible;
    display: flex;
    justify-content: space-between;
}
span{
    display: none;
}
#btn-prev {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid #62bbac;
    border-bottom: 15px solid transparent;
    margin-left: 2.5%;
    transition: all 1s;
    cursor: pointer;
}
#btn-next {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid #62bbac;
    border-bottom: 15px solid transparent;
    margin-right: 2.5%;
    transition: all 500ms;
    cursor: pointer;
}
#btn-prev:active, #btn-next:active{
   opacity: .40;
}
#btn-prev:hover{
    border-right: 30px solid #228046;
}
#btn-next:hover{
    border-left: 30px solid #228046;
}
.wrraper{
    width: 15%;
    margin-left: 10%;
}
.create{
    border: 2px solid black;
    border-radius: 30px;
    width: 200px;
    height: 250px;
}
.create_show{
    width: 90px;
    height: 90px;
    border: 2px dashed blue;
    position: relative;
    border-radius: 50%;
    top: 30%;
    left: 27%;
}
.table_style{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}
/*.create_add{
    
}*/
